.friseChrono {
  min-height: 80vh;
  width: 100vw;
  transform: translate(-40px);

  img {
    object-fit: contain;
    height: 10vh;
  }
  .rc-card-media {
    min-height: 12vh;
  }

  .TimelineControlContainer-sc-cif21b-4 {
    display: none;
  }

  .timeline-main-wrapper {
    height: 90vh;
  }

  p{
    font-size: 1rem;
  }
}
