/* Styles pour les écrans plus larges */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: var(--dark-color);

  .presentation {
    display: flex;
    align-items: center;
    padding: 1%;
    height: 100%;
    width: 15vw;
  }

  .photoCV {
    height: 100%;
    border-radius: 4rem;
    border: 1px solid var(--third-color);
  }

  p {
    padding: 1%;
  }

  .links {
    width: 30vw;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 200ms;
    margin: 1%;

    &.active {
      color: var(--third-color);
      font-weight: bold;
    }

    &:hover {
      color: var(--light-color);
    }
  }
}

