.interests {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 90vw;
  min-height: 80vh;
  padding: 5%;

  img {
    width: 15vw;
  }

  .descAsso {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .asso,
  .draw,
  .tennis,
  .code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    width: 30vw;
  }

  p {
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .asso,
    .draw,
    .tennis,
    .code {
      width: 100%; 
    }
  }
}
