.interests {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  min-height: 80vh;
  // padding: 5%;

  img {
    width: 50%;
  }

  .descAsso {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .asso,
  .draw,
  .tennis,
  .code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3%;
    width: 30vw;
  }
  p {
    display: flex;
    flex-wrap: wrap;
  }
}
