.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100vw;
  height: 70px;
  background-color: var(--dark-color);
  color: white;
  z-index: 2;
}

.presentation {
  display: flex;
  align-items: center;
  padding: 1%;
  height: 100%;
  width: 15vw;
  font-weight: bold;
}

.photoCV {
  height: 60px;
  border-radius: 4rem;
  border: 1px solid var(--third-color-light);
}

p {
  padding: 1%;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  padding: 0 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar-link:hover{
color: var(--light-color);
}

a {
  text-decoration: none;
}

.nav-burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: white;
}

@media screen and (max-width: 800px) {
  .navbar-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    width: 0;
    height: 100vh;
    padding: 2rem;
    visibility: hidden;
    background-color: var(--dark-color);
    transition: all 0.8s ease-out;
  }
  .navbar-link {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }

  .navbar-items::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 3vw;
    height: 1px;
    background: white;
  }
  .navbar-items:last-child::after {
    display: none;
  }

  .show-nav .navbar-links {
    right: 0;
    width: 100vw;
    visibility: visible;
  }

  .nav-burger {
    display: block;
    // position: fixed;
    // top: 1rem;
    // right: 1rem;
  }

  .nav-burger:hover {
    cursor: pointer;
  }

  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    display: block;
    width: 35px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    // background: white;
    transition: all 0.5s ease-in-out;
  }

  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .burger-bar::before {
    transform: translateY(-12px);
  }
  .burger-bar::after {
    transform: translateY(12px);
  }

  .show-nav .burger-bar::before {
    transform: rotate(45deg);
  }

  .show-nav .burger-bar::after {
    transform: rotate(-45deg);
  }

  .show-nav .burger-bar {
    background: transparent;
    width: 0;
  }

  // animation button burger
  .navbar-items {
    transform: translateY(100vh);
  }

  .show-nav .navbar-items {
    transform: translateY(0);
  }
  .show-nav .slideInDown-1 {
    transition: all 1s ease-out;
  }
  .show-nav .slideInDown-2 {
    transition: all 1.1s ease-out;
  }
  .show-nav .slideInDown-3 {
    transition: all 1.2s ease-out;
  }
  .show-nav .slideInDown-4 {
    transition: all 1.3s ease-out;
  }
}
