* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}
html,
body,
.root {
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  font-size: 16px;
  --light-color: #99c4c8;
  --dark-color: #68a7ad;
  --third-color: #e5cb9f;
  --third-color-light: rgb(222, 197, 114);
}
