*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Dosis', sans-serif;
}
// html,body, .root{
//     min-height: 100vh;
// }

:root{
    font-size: 10px;
    --light-color: #75C2F6;
    --dark-color:#1D5D9B;
    --third-color:#F0B432;
}

